/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-1_enemies_1_walk_000 {
  background-image: url(sprite.png);
  background-position: -192px 0px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_001 {
  background-image: url(sprite.png);
  background-position: -384px -452px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_002 {
  background-image: url(sprite.png);
  background-position: -384px 0px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_003 {
  background-image: url(sprite.png);
  background-position: 0px -226px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_004 {
  background-image: url(sprite.png);
  background-position: -192px -226px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_005 {
  background-image: url(sprite.png);
  background-position: -384px -226px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_006 {
  background-image: url(sprite.png);
  background-position: -576px 0px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_007 {
  background-image: url(sprite.png);
  background-position: -576px -226px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_008 {
  background-image: url(sprite.png);
  background-position: 0px -452px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_009 {
  background-image: url(sprite.png);
  background-position: -192px -452px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_010 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_011 {
  background-image: url(sprite.png);
  background-position: -576px -452px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_012 {
  background-image: url(sprite.png);
  background-position: -768px 0px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_013 {
  background-image: url(sprite.png);
  background-position: -768px -226px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_014 {
  background-image: url(sprite.png);
  background-position: -768px -452px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_015 {
  background-image: url(sprite.png);
  background-position: 0px -678px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_016 {
  background-image: url(sprite.png);
  background-position: -192px -678px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_017 {
  background-image: url(sprite.png);
  background-position: -384px -678px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_018 {
  background-image: url(sprite.png);
  background-position: -576px -678px;
  width: 192px;
  height: 226px;
}
.icon-1_enemies_1_walk_019 {
  background-image: url(sprite.png);
  background-position: -768px -678px;
  width: 192px;
  height: 226px;
}
