.map-wrapper {
  background: url('../assets/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.level-1 {
  position: absolute;
  left: 50%;
  top: 50%;
}