@import '../scripts/auth/scss/auth.scss';
@import '../scripts/achievements/scss/achievements.scss';

@font-face {
  font-family: "Dimbo";
  src: url("../assets/fonts/Dimbo-ru-en.otf") format("opentype");
}
.fontPrelod {
  font-family: "Dimbo";
  position: absolute;
  left:  -300px;
}
// @import './levels-map.scss';
