.full_graph {
  width: 300px;
  height: 150px;
}

figcaption {
  font-weight: bold;
  font-size: xx-large;
  color: #352824;
  margin-bottom: 20px;
}

.bar {
  fill: #a27448;
  height: 21px;
  transition: fill .3s ease;
  font-size: larger;
  cursor: pointer;
  
  text {
    fill: #352824;
  }
}

.chart:hover,
.chart:focus {
  .bar {
    fill: #aaa;
  }
}

.bar:hover,
.bar:focus {
  fill: #352824 !important;
  
  text {
    fill: whitesmoke;
  }
}
