@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #FFC107;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  align-self: center;
  margin: auto;
  position: absolute;
  left: calc(50% - 60px);
  z-index: 1000;
}
