.popup-attendance-wrapper {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(41, 41, 41, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popup-attendance-content {
    background-image: url('../assets/auth/UI_StoneFrame_980.png');
    width: 490px;
    height: 307px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-size: contain;
    border-radius: 5px;
    display: flex;
    cursor: auto;
    position: relative;
    padding: 75px;
}

.close-popup {
    background-image: url('../assets/auth/close.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 10px;
    cursor: pointer;
}
