@import './popap.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

.sign-kingdom-rush,
.start-page {
  background-image: url('../assets/auth/kingdom-rush.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1080px;
  width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-page {
  height: 100vh;
}

.logout-game {
  background-image: url('../assets/auth/close.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  position: fixed;
  margin: 10px;
  cursor: pointer;
}

.attendance-per-year-game {
  background-image: url('../assets/auth/bag-attendance.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  position: fixed;
  margin: 10px;
  bottom: 0;
  cursor: pointer;
}

.logo-start-page {
  background-image: url('../assets/auth/start-game.png');
  // width: 724px;
  // height: 892px;
  width: 40vw;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sign-window {
  width: 555px;
  height: 554px;
  background: linear-gradient(#38315a, #2d0a40);
  padding: 0 60px;
  & .sign-info {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    & .sign-info-in {
      margin-right: 33px;
    }

    & .response-info {
      font-family: sans-serif;
      font-weight: 600;
      letter-spacing: 0.8px;
      color: whitesmoke;
      position: absolute;
      bottom: 0;
      margin: 0 20px;
    }
  }
  & .keep-me {
    display: flex;
    margin: 10px 20px;

    & input {
      width: 20px;
      height: 20px;
      &:checked + label {
        color: whitesmoke;
      }
      &:checked {
        background-color: #eec110;
      }
    }

    & label {
      padding-left: 10px;
    }
  }

  & .forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    & p {
      font-family: sans-serif;
      font-weight: 600;
      letter-spacing: 0.8px;
      color: #9b90ac;
      cursor: pointer;
    }
  }
}

.sign-info-in,
.sign-info-up {
  color: #9b90ac;
  cursor: pointer;
  font-family: sans-serif;
  letter-spacing: 0.8px;
  font-size: larger;
  margin: 0 20px;
}

.sign-form {
  height: 340px;
  color: #9b90ac;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 2px solid  #9b90ac;
  padding-bottom: 35px;
  & input {
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color:  #eec110;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: 600;
    font-size: initial;
    letter-spacing: 0.8px;
    cursor: pointer;
  }
}

.wrapper-username,
.wrapper-password {
  display: flex;
  flex-direction: column;
  & input {
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: #5d5175;
    padding-left: 20px;
  }
  & label {
    margin: 10px 20px;
  }
}

.active-sign-info {
  color: #f0fbf9;
  border-bottom: 2px solid #eec110;
  cursor: default;
}
