.credits-wrapper {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/credits/wood_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.credits-content {
  background-image: url('../assets/credits/paper_3.png');
  width: 90%;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: auto;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 100%;
  transition: all .5s ease-out;
  padding: 17.2vh 19vw 13vh;
}

.title-credits {
  color:  rgb(230, 225, 82);
  font-family: "Dimbo";
  margin: 0 20px;
  background-image: url('../assets/auth/title.png');
  background-size: cover;
  background-position: center;
  width: 20.8vw;
  height: 10.6vh;
  text-align: center;
  line-height: 8.6vh;
  font-size: 5vh;
  position: absolute;
  top: 7vh;
}

.close-credits-popup {
  background-image: url('../assets/interface/button_close.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 7vw;
  height: 7vw;
  position: fixed;
  margin: 2%;
  left: 0;
  top: 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.credits-data {
  font-family: "Dimbo";
  color: #c43c1c;
  padding-right: 5px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0.5vw;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(212, 232, 37);
  }
  &::-webkit-scrollbar-thumb {
    background: #c43c1c;
    border-radius: 0.25vw;
  }

  & .credits-title {
    margin: 2.5vh 0 1vh;
    font-size: 3.2vw;
  }

  & .wrapper-credits-people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4vw;

    & .credits-people {
      display: flex;
      align-items: center;
      border: 0.2vw solid #d0a763;
      background-color: #e3b872;
  
      & .avatar {
        width: 6vw;
        height: 6vw;
        background-size: cover;
        border-radius: 50%;
      }
  
      & a {
        padding: 1vh 2vw;
        text-decoration: none;
        color: antiquewhite;
        font-size: 2.2vw;
      }
  
      & .Iogsotot {
        background-image: url('https://avatars.githubusercontent.com/u/50149163?s=400&u=9a763fefd25839d62bec939ad7302d8a29948cb4&v=4');
      }
      & .DenisAfa {
        background-image: url('https://avatars.githubusercontent.com/u/64201928?s=400&u=b33f2c5f182a021649e8ac548259a05dc3ed792e&v=4');
      }
      & .Abdulloh76 {
        background-image: url('https://avatars.githubusercontent.com/u/59783836?s=400&v=4');
      }
      & .mrINEX {
        background-image: url('https://avatars.githubusercontent.com/u/35580404?s=400&u=742a3a17f24933ff191b620cf949e6f1b872e20a&v=4')
      }
  
    }
  }

  & .wrapper-gratitude {
    & .gratitude-from {
      padding: 3vh 0;

      & ul {
        list-style: none;
        text-align: center;
      
        font-size: 2vw;
        font-weight: bold;

        & li {
          font-size: 1.4vw;
          font-weight: normal;
        }
        
        & li:nth-child(odd) {
          font-size: 1.8vw;
          padding: 1vw 0 0;
        }
        & a {
          text-decoration: none;
          font-weight: bolder;
          color: inherit;
        }
        
        & a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.show-top {
  bottom: 0;
}
