.credits-wrapper {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/credits/wood_2.png');
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.credits-content {
  background-image: url('../assets/credits/paper_3.png');
  width: 557px;
  height: 746px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: auto;
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 100%;
  transition: all .5s ease-out;
  padding: 172px 60px 130px;
}

.title-credits {
  color:  rgb(230, 225, 82);
  font-family: "Dimbo";
  letter-spacing: 1px;
  margin: 0 20px;
  background-image: url('../assets/auth/title.png');
  background-size: contain;
  width: 207px;
  height: 85px;
  text-align: center;
  line-height: 59px;
  font-size: xx-large;
  position: absolute;
  top: 70px;
}

.close-credits-popup {
  background-image: url('../assets/interface/button_close.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  position: fixed;
  margin: 20px;
  left: 0;
  top: 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.credits-data {
  font-family: "Dimbo";
  letter-spacing: 1px;
  font-size: x-large;
  color: #c43c1c;
  padding-right: 5px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(212, 232, 37);
  }
  &::-webkit-scrollbar-thumb {
    background: #c43c1c;
    border-radius: 10px;
  }

  & .credits-title {
    margin: 25px 0 10px;
  }

  & .wrapper-credits-people {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5px;

    & .credits-people {
      display: flex;
      align-items: center;
      border: 2px solid #d0a763;
      background-color: #e3b872;
  
      & .avatar {
        width: 60px;
        height: 60px;
        background-size: cover;
        border-radius: 50%;
      }
  
      & a {
        padding: 10px 20px;
        text-decoration: none;
        color: antiquewhite;
      }
  
      & .Iogsotot {
        background-image: url('https://avatars.githubusercontent.com/u/50149163?s=400&u=9a763fefd25839d62bec939ad7302d8a29948cb4&v=4');
      }
      & .DenisAfa {
        background-image: url('https://avatars.githubusercontent.com/u/64201928?s=400&u=b33f2c5f182a021649e8ac548259a05dc3ed792e&v=4');
      }
      & .Abdulloh76 {
        background-image: url('https://avatars.githubusercontent.com/u/59783836?s=400&v=4');
      }
      & .mrINEX {
        background-image: url('https://avatars.githubusercontent.com/u/35580404?s=400&u=742a3a17f24933ff191b620cf949e6f1b872e20a&v=4')
      }
  
    }
  }

  & .wrapper-gratitude {
    & .gratitude-from {
      & div {
        margin: 15px 0 5px;
      }
      & p {
        color: antiquewhite;
        border: 2px solid #d0a763;
        background-color: #e3b872;
      }
    }
  }
}

.show-top {
  bottom: 0;
}
