figure {
  height: 237px;
  width: 540px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(212, 232, 37);
  }
  &::-webkit-scrollbar-thumb {
    background: goldenrod;
    border-radius: 10px;
  }
}

figcaption {
  font-size: xx-large;
  color: #352824;
  position: absolute;
  top: 65px;
  left: 157px;
}

.day-attendance-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  overflow: visible;
  height: 20px;
  fill: #a27448;
}

.day-attendance-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
}

.bar {
  fill: #a27448;
  height: 19px;
  transition: fill .3s ease;
  cursor: pointer;
  
  text {
    fill: #352824;
  }
}

.bar-info {
  width: 30%;
  height: 21px;
}

.chart:hover,
.chart:focus {
  .bar {
    fill: #aaa;
  }
}

.bar:hover,
.bar:focus {
  fill: #352824 !important;
  
  text {
    fill: whitesmoke;
  }
}
