.popup-rating-wrapper {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-rating-content {
  background-image: url('../assets/modal-bg/start-modal-bg.png');
  width: 794px;
  height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  cursor: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 30px 50px 30px;
  font-family: "Dimbo";
  color: #FFC107;
  font-size: x-large;
  letter-spacing: 0.8px;
  transition: all .5s ease-out;
  bottom: 100%;
}

.close-rating-popup {
  background-image: url('../assets/interface/button_close.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.title-rating {
  color:  rgb(230, 225, 82);
  font-family: "Dimbo";
  letter-spacing: 1px;
  margin: 0 20px;
  background-image: url('../assets/auth/title.png');
  background-size: contain;
  width: 224px;
  height: 93px;
  text-align: center;
  line-height: 59px;
  font-size: xx-large;
  position: absolute;
  top: -20px;
}

.wrapper-table-rating {
  width: 100%;
  position: absolute;
  top: 70px;
  padding: 0 50px;

  & .title-rating-property {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: right;
    
    & input {
      display: none;
    }

    & > * {
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.wrapper-data-table-rating {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow-y: scroll;

  & .data-rating-player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: right;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(212, 232, 37);
  }
  &::-webkit-scrollbar-thumb {
    background: goldenrod;
    border-radius: 10px;
  }
}
