@import './popap.achievements';
@import './popap.achievements.rating';
@import './popap.achievements.profile';
@import './popap.achievements.profile.all';

.achievements-icon {
  background-image: url('../assets/achievements/achievements_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 126px;
  height: 126px;
  position: fixed;
  margin: 10px;
  bottom: 50px;
  right: 0;
  color: #e6e152;
  font-family: "Dimbo";
  text-align: center;
  font-size: x-large;
  line-height: 189px;
  z-index: 2;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.1);
  }
}
